<div class="container" ng-controller="TaskCtrl">
  <h3>Current tasks</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Task</th>
        <th ng-click="sortType = 'priorityCode'; sortReverse = !sortReverse">Priority <span class="glyphicon glyphicon-sort"></span></th>
        <th>Complete</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat="task in tasks | expired:false | orderBy:sortType:sortReverse">
        <td> <input ng-model="task.text" ng-change="tasks.$save(task)" /> </td>
        <td>{{task.priority}}</td>
        <td><input type="checkbox" class="checkbox" ng-click='completeTask(task)'></td>
        <td><button class="btn btn-default" ng-click="tasks.$remove(task)">Delete Task</button></td>
      </tr>
    </table>
  </div>

  <!-- push a new task onto the array -->
  <form class="form-inline" ng-submit="addTask()">
    <div class="form-group">
      <label for="task">Task description</label>
      <input ng-model="newTaskText" class="form-control" placeholder="Enter new task" id="task"/>
    </div>
    <div class="form-group">
      <label for="priority">Priority</label>
      <select ng-model="newTaskPriority" class="form-control" id="priority"/>
        <option>high</option>
        <option>med</option>
        <option>low</option>
      </select>
    </div>
    <button type="submit" class="btn btn-default">Add</button>
  </form>

</div>
